{{ define "main" }}

{{ partial "google-tag-manager-noscript.html" . }}

<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      <h1 class="display-4 fw-semibold mb-3">{{ .Site.Title }}</h1>
      <h4>Estudio de Salarios, IA, Diversidad e Inclusión y Carreras Tecnológicas en LATAM.</h4>
      <p class="lead mb-4">Participa en el estudio más completo sobre salarios, inteligencia artificial, trabajo remoto, diversidad e inclusión y la evolución profesional en Latinoamérica.</p>
      <a class="btn btn-bd-primary btn-lg px-4 mb-2" href="https://softwareguru.surveysparrow.com/s/encuesta-salarios-sg-2026/tt-zzExe" role="button">Contesta la encuesta</a>
      <p class="text-muted mb-1">🕒 9-11 minutos.
      <p class="text-muted mb-0">Si habías iniciado anteriormente, puedes seguir este enlace y continuar donde te habías quedado.</p>
    </div>
  </div>
</section>

<section class="section container my-2" id="features">
  <h2 class="text-center">¿Por qué participar?</h2>
  <div class="row justify-content-center text-center mt-lg-4">
    <div class="col-lg-4 my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#code` | relURL }}"/>
        </svg>
        <h4>Diseñada específicamente para perfiles de tecnología <small class="d-none">🖐️</small></h4>
        <p>Dada su especialización, la información obtenida es de gran valor para los profesionistas de tecnología.</p>
    </div>
    <div class="col-lg-4 my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#circle` | relURL }}"/>
        </svg>
        <h4>Mucho más que salarios <small class="d-none">🫶</small></h4>
        <p>Sí, todos queremos conocer cómo están los salarios, pero también queremos conocer qué factores los afectan 
          y descubrir cómo es su comportamiento entre minorías.</p>
    </div>
    <div class="col-lg-4 my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h4>Impacto de la IA <small class="d-none">🤖</small></h4>
        <p>Identifiquemos cómo está impactando la IA nuestras actividades, salarios y planes de carrera.</p>
    </div>
    <div class="col-lg-4  my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h4>Anonimidad <small class="d-none">🛡️</small></h4>
        <p>La encuesta está instrumentada para realizarse de forma anónima. Es decir, no tenemos forma de relacionar los datos contigo, por lo que tu identidad permanece protegida.</p>
    </div>
    <div class="col-lg-4 my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#eye` | relURL }}"/>
        </svg>
        <h4>Datos abiertos <small class="d-none">👀</small></h4>
        <p>Todos los datos están abiertos y disponibles inmediatamente. Consulta el <a href="/dashboard">dashboard</a> y/o <a href="https://docs.google.com/spreadsheets/d/1HHaA8ezZ7odVt_cLneeo-QAqcd-1zLWBu42bmVJgZak/edit?usp=sharing">accede a los datos crudos</a> para realizar tu propio análisis.</p>
    </div>
    <div class="col-lg-4 my-3">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#clock` | relURL }}"/>
        </svg>
        <h4>Puedes continuar una encuesta comenzada <small class="d-none">⏲️</small></h4>
        <p>Si comenzaste a contestar la encuesta pero no la terminaste, al abrirla desde el mismo navegador deberías poder continuarla.</p>
    </div>
</div>

</section>


{{ partial "script-tracker.html" . }}


{{ end }}